@media only screen and (min-width: 1024px) {
  .card {
    display: flex;
    align-items: center;
  }
}
@media only screen and (max-width: 1023px) {
  body {
    display: flex;
    flex-wrap: wrap;
  }
}

.card {
  border: 1px solid #eee;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}
.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-avatar {
  max-width: 100px;
  max-height: 100px;
}
